header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px 28px; 
    z-index: 100;  
    
    /* 왜 fixed하니까 아래에 있던 요소들이 다 올라옴? 
    fixed는 공간을 차지하는 개념이 아예 아니고, 그냥 z-index 2인 것처럼 위에 떠 있는 개념인가?
    main의 top부터 차지 안 하고 그 위에 떠서?
    그리고 왜.. fixed하니까... ㅠㅠ spac-betwwen이 사라짐..? 
    아!!!!!!! 아니 오..... flex는 자동으로 font 크기에 따라 ... inline 요소처럼 되는 건가?
    크기가 줄었군.... 
    그냥 100%랑 100vh랑 헷갈림자꾸.... ㅠㅅ ㅠ....
    */

    background-color: transparent;
}

/* .header .header__logo{
    box-sizing: border-box;
    position: relative; 
    /* display: flex; */
    /* margin:0;
    padding: 0;
 */
/* 이거 flex로 안 하면 가입, 로그인이 줄어들 때 2행으로 되는데 이게 생겨서..... 한 줄로 보임.. 대체 어떻게?? 충격 
근데 다시 똑같이 보임.. 대체 뭐임.. 뭐가.. 대체 ㅠㅠ*/
.header__logo .header__logo_version .netflix-logo{
    width: 110px;
    height: 46px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 8px;
}

.header__logo .header__logo_version .n-logo{
    display: none;
    width: 30px;
    height: 46x;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 8px;
}

.header__joinset{
    font-size: 13px;
}
/* 왜 여기서 font-size를 바꿔도 .... 버튼의 그게 안 바뀌지..?  */

.header__joinset span{
    display: none;    
}

@media (max-width:400px) {
    .header__logo .header__logo_version .netflix-logo {
        display: none;
    }
    .header__logo .header__logo_version .n-logo {
        display: inline;
    }
}
@media (min-width: 700px) {
    .header__joinset span{
        display: inline;    
    }
    /* display는 원래 그 요소의 inline, block, flex 등 원래 값 써 주면 의도한 대로. */
}

.header__joinset button{
    box-sizing: border-box;
    margin: 0 0 0 8px;
    padding: 6px 15px;
    border-radius: 2px;
    color: var(--text); 
    font-size: 11px;   
    cursor: pointer;
}

.header__joinset button.signbutton{
    background-color: var(--primary);    
    border-color: transparent;
}

.header__joinset button.loginbutton{
    background-color: transparent;
    border: 1px solid var(--border);
}

.header__joinset button.signbutton:hover {
    background-color: var(--secondary);
}

.header__joinset button.loginbutton:hover {
    background-color: var(--border);
}

/* !!!!!!??!?!?!??!

헤더 내리면 백그라운드 검정으로 보이게 하고 싶은데 어떻게 해!? ㅠㅠ

*/